@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.lyrics-shadow-container {
    position: fixed;
    inset: 3vh 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    contain: size layout paint;
    pointer-events: none;
    font-size: min(18em, 40dvh);
    z-index: 100;
    font-family: var(--lyrics-font);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1);
    filter: blur(1px);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    overflow: hidden;
}

.lyrics-shadow {
    flex: none;
    line-height: 1.2;
    white-space: nowrap;
}

.lyrics-shadow-container[data-visible='true'] {
    animation: fadeIn 0.5s ease-out forwards;
}
