.placeholder-text {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: var(--ui-font);
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}
